*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color:floralwhite;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

a{
    text-decoration: none;
}

body{
    background-image: url(../img/fundo-cosmico-com-luzes-laser-de-neon-coloridas-perfeito-para-um-papel-de-parede-digital_181624-23743.webp);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
}

header ul {
    display: flex;
}

header ul li{
    padding: 10px;
}

/* .container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 150px;
    align-items: space-evenly;
} */

.nome h1 {
    display: flex;
    justify-content:center;
    font-size: 40px;
    margin-left: 10px;
}

.nome h5 {
    display: flex;
    justify-content:center;
    font-size: 25px;
}

#sobre p {
    max-width: 600px;
    margin: 0 auto;
    color: floralwhite;
}

.img {
    padding: 90px;
}

.form {
    width: 40%;
    margin: 0 auto;
    padding-block-end: 200px;
}
.form input {
    width: 50%;
}

.form button {
    width: 15%;
}

.div row {
    justify-content:center;
}
